<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Selene</string>
	<key>CFBundleExecutable</key>
	<string>Selene</string>
	<key>CFBundleIconName</key>
	<string>selene</string>
	<key>CFBundleIdentifier</key>
	<string>ch.polonium.selene</string>
	<key>CFBundleName</key>
	<string>Selene</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_nvstream._tcp.</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Selene uses the local network to discover your Sunshine/GameStream PC.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Polonium-ch/Selene/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>o+T4Ts4negyF/v96MiCrq9nFyfPnOoD9V9jrlr3zPhk=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
